/*@import url("blueprint/screen.css");*/
@import url("blueprint/src/grid.css");

/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

body {
  background-color: #121B32;
  font-family: "Lucida Grande";
  font-size: 14px;
}

h1,h2{
  font-size: 19px;
  font-weight: bold;
}

a img {
  border: none;
}

a {
  color: #19232E;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#logo{
  margin: 1em;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px;
}

#flash_notice {
  background-color: #CFC;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

div.container{
  margin: 0.5em auto;
}

div.links a{
  color: #fff;
  text-decoration: none;
}

div.inner{
  width: 950px;
  margin: 0;
  padding: 1em 0;
  background: #fff;
}

ul.nav{
  margin: 0 0 0 1em;
  padding: 0;
}

ul.nav li{
  display: inline;
  padding: 0.5em 1em;
  background: #121B32;
}

ul.nav li.current{
  background: #ffffff;
}

ul.nav li.current a{
  color: #000;
}

ul.nav li a{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

table{
  width: 100%;
  border-collapse: collapse;
}
table tr th{
  padding: 0.5em;
  font-weight: bold;
  background: #DDD;
}
table tr td{
  padding: 0.2em;
}

.center{
  text-align: center;
}

/* Buttons */
a.button{font-size: 11px; text-decoration: none; }
input.button,a.button{ color: #fff; border: none;}
.button{
  cursor: pointer;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  height: 30px;
  background: url("../images/button-bg.png") repeat-x;
}

/* States */

.past_due{
  border: 1px solid #99383C;
  background: #F3BDC0;
}